*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

body {
  min-height: 100vh;
  min-width: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
}

header {
  padding: 1.2rem 0;
}

header > .container {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  gap: 1em;
}