*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}

input,
button {
  border: none;
}

:root {

  --clr-offwhite: #FAF9F6;

}

body {
  min-height: 100vh;
  min-width: 100%;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: cornflowerblue;
}

header {
  background-color: var(--clr-offwhite);
}

.c-margin {
  margin: 0 auto;
}

.head-container {
  width: 90%;
}

.main-container {
  width: 90%;
}

.foot-container {
  width: 85%;
}

header {
  padding: 1.2rem 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    gap: 1em;
  }
}